<div class="footer-background text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <span class="footer-text">&#169;</span> <span class="footer-text"> 2021 </span> <img src="assets/img/logo_g.png" alt="" style="position: relative;top: -5px;"> <span class="footer-text">reenstop</span> 
            </div>
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-2">
                        <a [routerLink]='["/"]' class="footer-text">Home</a>
                        <!-- <span class="footer-text">Home</span> -->
                    </div>
                    <div class="col-sm-2">
                        <a [routerLink]='["/whywe"]' class="footer-text">Why we ?</a>
                        <!-- <span class="footer-text">Why we</span> -->
                    </div>
                    <div class="col-sm-3">
                        <a [routerLink]='["/termsandconditions"]' class="footer-text">Terms and conditions</a>
                        <!-- <span class="footer-text">Terms and conditions</span> -->
                    </div>
                    <div class="col-sm-3">
                        <a [routerLink]='["/cancellationpolicy"]' class="footer-text">Cancellation policy</a>
                        <!-- <span class="footer-text">Cancellation policy</span> -->
                    </div>
                    <div class="col-sm-2">
                        <a [routerLink]='["/help"]' class="footer-text">Help</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="row padding-top-footer">
                    <div class="col-4" style="text-align: right !important;">
                        <i class="fab fa-facebook"></i>
                    </div>
                    <div class="col-4">
                        <i class="fab fa-twitter"></i>
                    </div>
                    <div class="col-4" style="text-align: left !important;">
                        <i class="fab fa-linkedin"></i>
                    </div>
                    <div class="col-sm-12">
                        <span class="footer-text2">9088977845</span>
                    </div>
                    <div class="col-sm-12">
                        <a href="mailto:greenstopindia@gmail.com" class="footer-text">greenstopindia@gmail.com </a>
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm-12">
                <a [routerLink]='["/subscribeTest"]' class="footer-text">Subscribe</a>
            </div> -->
        </div>
    </div>
</div>
