<div class="container body-background">
    <div class="row">
        <!-- <div class="col-12">
            <span class="title">Why we ?</span>
        </div> -->
        <div class="col-12">
            <div class="row">
                <div class="moveto"></div>
                <div class="col-4">
                    <img src="assets/img/why_we_1.png" alt="" class="w-100">
                </div>
                <div class="col-4">
                    <img src="assets/img/why_we_2.png" alt="" class="w-100">
                </div>
                <div class="col-4">
                    <img src="assets/img/why_we_3.png" alt="" class="w-100" style="position: relative; top:-22px;">
                </div>
                <div class="col-sm-12">
                    <img src="assets/img/why_we_4.png" alt="" class="w-100" style="position: relative; top:-40px;">
                </div>
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="mt-3 mb-2 sub-title" style="position: relative;left:0px;">We are your preferred extended kitchen:</p>
            <div class="row">
                <div class="col-1">
                    <span class="dot _active"></span> 
                </div>
                <div class="col-10">
                    <p>
                        You may opt to avoid crowded market places and reduce the risk of viruses or other infections. Avoiding crowded marketplace is a safer option as COVID-19 mainly spreads from person to person.
                    </p>
                </div>
                <div class="col-1 xs_cls"></div>
                <div class="col-1">
                    <span class="dot _active"></span> 
                </div>
                <div class="col-10">
                    <p>
                        Keep your focus on your career growth and entrust us to cater you the healthy foods of your choice.
                    </p>
                </div>
                <div class="col-1 xs_cls"></div>
                <div class="col-1">
                    <span class="dot _active"></span> 
                </div>
                <div class="col-10">
                    <p>
                        Reduce dependence on in-home external cooking assistance. Better not to allow outsiders inside your kitchen to safeguard your family from any chance of contamination.
                    </p>
                </div>
                <div class="col-1 xs_cls"></div>
                <div class="col-1">
                    <span class="dot _active"></span> 
                </div>
                <div class="col-10">
                    <p>
                        Our experts are always ready to serve you tasty foods with needed care for your health and hygiene.
                    </p>
                </div>
                <div class="col-1 xs_cls"></div>
                <div class="col-1">
                    <span class="dot _active"></span> 
                </div>
                <div class="col-10">
                    <p>
                        You can instruct our kitchen team about your preferences on sugar, salt and chilies while placing the order through our website.
                    </p>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
        <div class="col-sm-12">
            <p class="mt-3 mb-2 sub-title" style="position: relative;left:0px;">Order in advance to enjoy healthy food of your choice:</p>
            <div class="row">
                <div class="col-1">
                    <span class="dot _active"></span> 
                </div>
                <div class="col-10">
                    <p>
                        We buy fresh ingredients from the market to cook for you. We avoid freezing the cooked foods and serving them as and when an order is placed. We strongly believe that if we eat healthy we can live a better life. 
                    </p>
                </div>
                <div class="col-1 xs_cls"></div>
                <div class="col-1">
                    <span class="dot _active"></span> 
                </div>
                <div class="col-10">
                    <p>
                        We generally avoid frozen ingredients.
                    </p>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
        <div class="col-sm-12">
            <p class="mt-3 mb-2 sub-title" style="position: relative;left:0px;">We strictly focus on health and hygiene:</p>
            <div class="row">
                <div class="col-1">
                    <span class="dot _active"></span> 
                </div>
                <div class="col-10">
                    <p>
                        We freshly grind our spices for our orders.
                    </p>
                </div>
                <div class="col-1 xs_cls"></div>
                <div class="col-1">
                    <span class="dot _active"></span> 
                </div>
                <div class="col-10">
                    <p>
                        We use branded oils and ingredients.
                    </p>
                </div>
                <div class="col-1 xs_cls"></div>
                <div class="col-1">
                    <span class="dot _active"></span> 
                </div>
                <div class="col-10">
                    <p>
                        We strictly avoid frozen raw fish, chicken, mutton, paneer and vegetables.
                    </p>
                </div>
                <div class="col-1 xs_cls"></div>
                <div class="col-1">
                    <span class="dot _active"></span> 
                </div>
                <div class="col-10">
                    <p>
                        Our packing materials are of food grade.
                    </p>
                </div>
                <div class="col-1 xs_cls"></div>
                <div class="col-1">
                    <span class="dot _active"></span> 
                </div>
                <div class="col-10">
                    <p>
                        Our kitchen team adheres to generally accepted hygienic cooking practices.
                    </p>
                </div>
                <div class="col-1 xs_cls"></div>
                <div class="col-1">
                    <span class="dot _active"></span> 
                </div>
                <div class="col-10">
                    <p>
                        Our delivery representatives use a sanitized mask and maintain a safe distance while delivering your food at your doorstep.
                    </p>
                </div>
                <div class="col-1 xs_cls"></div>
            </div>
        </div>
        
        <div class="col-sm-12">
            <p class="mt-3 mb-2 sub-title" style="position: relative;left:0px;">We deliver contactless and follow WHO guidelines:</p>
            <div class="row">
                <div class="col-1">
                    <span class="dot _active"></span> 
                </div>
                <div class="col-10">
                    <p>
                        We give importance to social distancing and sanitization. Our delivery representatives will deliver contactless at your doorstep and post-delivery will sanitize the pack before you touch it.
                    </p>
                </div>
                <div class="col-1 xs_cls"></div>
                <div class="col-1">
                    <span class="dot _active"></span> 
                </div>
                <div class="col-10">
                    <p>
                        On delivery, you can pay contactless through UPI by clicking the link on your device that we will Whatsapp you.
                    </p>
                </div>
                <div class="col-1"></div>
            </div>
            
            
            
            
        </div>
    </div>
</div>
