<div class="container">
    <div class="row">
        <div class="col-12">
            <!-- <p class="h4 text-center" style="font-weight: bold;">
                GREENSTOP
            </p> -->
            <p class="h4 text-success text-center">
                CANCELLATION POLICY
            </p>
            <p class="h5 text-center">
                <b>(This cancellation policy is a part of the Terms & Conditions dated 26th April 2021)</b>
            </p>
            <p>
                The fundamental principle of our cancellation policy is that we need to avoid wastage of raw materials/ingredients and wish to compensate the efforts of our team members for all the actions initiated by them after receiving any order from any Buyers.
            </p>
            <p class="text-primary h5">
                Orders can be cancelled from our Platform <u>without</u>  any charges under following conditions:
            </p>
            <table>
                <tr>
                    <th>
                        When order is scheduled to be delivered:
                    </th>
                    <th>
                        If cancelled:
                    </th>
                </tr>
                <tr>
                    <td>
                        Tomorrow
                    </td>
                    <td>
                        within 1(one) hour from the time of placing the order.
                    </td>
                </tr>
                <tr>
                    <td>
                        Day after tomorrow
                    </td>
                    <td>
                        by 4 p.m. tomorrow.
                    </td>
                </tr>
                <tr>
                    <td>
                        On any future date (excluding tomorrow or day after tomorrow)
                    </td>
                    <td>
                        by 4 p.m. of the day previous to the day of requested delivery.
                    </td>
                </tr>
            </table>
            <p class="text-primary h5 mt-3">
                <b>After the above time limits</b> you need to contact us (**) at under mentioned email or WhatsApp number to cancel your order <u>and <b>you will be charged 60% of your “Item Total” value</b></u>  of the order and/or bill as cancellation charges under following conditions:
            </p>
            <table>
                <tr>
                    <th>
                        When order is scheduled to be delivered:
                    </th>
                    <th>
                        If cancelled:
                    </th>
                </tr>
                <tr>
                    <td>
                        Tomorrow
                    </td>
                    <td>
                        after 1(one) hour from the  time of placing the order
                    </td>
                </tr>
                <tr>
                    <td>
                        Day after tomorrow
                    </td>
                    <td>
                        after 4 p.m. tomorrow.
                    </td>
                </tr>
                <tr>
                    <td>
                        On any future date (excluding tomorrow or day after tomorrow)
                    </td>
                    <td>
                        after 4 p.m. of the day previous to the day of requested delivery.
                    </td>
                </tr>
            </table>
            <p>
                You will remain liable to pay the cancellation charges as mentioned above in cash to our representative at your given delivery address within 24 (twenty four) hours of receiving our WhatsApp message and Cancellation invoice on your registered WhatsApp number with us. Our representative will call you on your registered mobile number before going to your given delivery address to collect the cancellation charge.
            </p>
            <p class="h5">
                **CONTACT US
            </p>
            <ul>
                <li>
                    Email us at <a href="mailto:greenstopindia@gmail.com">greenstopindia@gmail.com </a> <b>OR</b>  
                </li>
                <li>
                    Send message on our WhatsApp number <b>9088977845</b> 
                </li>
            </ul>
        </div>
    </div>
</div>
