/* #teleporter {
    height: 20px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;
  }
  
  li {
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
    list-style: none;
  }*/

